body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #C9BDAA;
  text-align: center;

}

.icon {
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-right: 0.5rem;
}

/* VISION */

#vision {
  padding: 5% 10%;
  text-align: center;
  background: #C9BDAA;
  color: #fff;
  position: relative;
  margin-bottom: 5%;
}

.visionrow {
  padding-top: 3%;
  width: 60%;
  line-height: 1.5;
}

.vision-title {
  font-size: 1rem;
  font-weight: 600;
}

/* HEADINGS */

.head-message {
  text-align: left;
  font-weight: 700;
  font-size: 4rem;
}

.btn {
  margin: 2% auto;
}

.action-message {
  padding-top: 5%;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  text-decoration: line-through;
  text-align: left;
}

h3, h5 {
  color: #6B5C45;
}

.scarf-img {
  width: 120%;
  right: 30%;
  position: relative;
  transform: rotate(15deg);
}

/* NAVBAR CSS */

.nav-item {
  padding: 0 0;
}

.navbar-brand {
  font-family: 'Nixie One', cursive;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

.nav-link {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 1rem;
}

/* CONTAINER */
.container-fluid {
  background-color: #fff;
  padding: 4% 10%;
  text-align: left;
}

/* STYLE GUIDE */

.scarf-style-img {
  width: 40%;
  margin: auto;
  padding-top: 5%;
}

.card {
  text-align: center;
  line-height: 1.5;
  min-height: 420px;
}

.pricing {
  padding: 0 10% 0;
}

/* CAROUSEL */

#testimonials {
  margin-top: 7%;
  vertical-align: middle;
}

.carousel-item {
  padding: 7% auto 7%;
}

.testimonial-img {
  width: 100%;
}


/* footer */

.contact-btn {
  margin-top: 3%;
}

.contact-me {
  margin: 10% auto 0;
  line-height: 3;
}

.icon-social {
  padding: 5% 1% 5%;
}

/* MEDIA */
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .scarf-img {
    position: static;
    transform: rotate(0);
    width: 50%;
  }
.visionrow {
  margin: auto;
}
}
